Badminton/Badminton_Client/Service References/BadmintonService/DatabaseREST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="medlemsId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fornavn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="efternavn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fodselsdato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addresse" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="postnr" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tlf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseRESTSoap">
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseRESTSoap" type="tns:DatabaseRESTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseRESTSoap12" type="tns:DatabaseRESTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseREST">
    <wsdl:port name="DatabaseRESTSoap" binding="tns:DatabaseRESTSoap">
      <soap:address location="http://localhost:8584/DatabaseREST.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseRESTSoap12" binding="tns:DatabaseRESTSoap12">
      <soap12:address location="http://localhost:8584/DatabaseREST.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>