Badminton/Badminton_Client/Service References/BadmintonService/DatabaseREST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AssignMemberToTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignMemberToTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignMemberToTeamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMemberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTeamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMemberAsInactive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMemberAsInactiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetMemberAsInactiveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMemberActivityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAdminRightsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginMemberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HaveAdminResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AssignMemberToTeamSoapIn">
    <wsdl:part name="parameters" element="tns:AssignMemberToTeam" />
  </wsdl:message>
  <wsdl:message name="AssignMemberToTeamSoapOut">
    <wsdl:part name="parameters" element="tns:AssignMemberToTeamResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeam" />
  </wsdl:message>
  <wsdl:message name="AddTeamSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamResponse" />
  </wsdl:message>
  <wsdl:message name="SetMemberAsInactiveSoapIn">
    <wsdl:part name="parameters" element="tns:SetMemberAsInactive" />
  </wsdl:message>
  <wsdl:message name="SetMemberAsInactiveSoapOut">
    <wsdl:part name="parameters" element="tns:SetMemberAsInactiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberActivitySoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberActivity" />
  </wsdl:message>
  <wsdl:message name="GetMemberActivitySoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberActivityResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminRightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminRights" />
  </wsdl:message>
  <wsdl:message name="GetAdminRightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminRightsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginMemberSoapIn">
    <wsdl:part name="parameters" element="tns:LoginMember" />
  </wsdl:message>
  <wsdl:message name="LoginMemberSoapOut">
    <wsdl:part name="parameters" element="tns:LoginMemberResponse" />
  </wsdl:message>
  <wsdl:message name="HaveAdminSoapIn">
    <wsdl:part name="parameters" element="tns:HaveAdmin" />
  </wsdl:message>
  <wsdl:message name="HaveAdminSoapOut">
    <wsdl:part name="parameters" element="tns:HaveAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseRESTSoap">
    <wsdl:operation name="AssignMemberToTeam">
      <wsdl:input message="tns:AssignMemberToTeamSoapIn" />
      <wsdl:output message="tns:AssignMemberToTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:input message="tns:AddMemberSoapIn" />
      <wsdl:output message="tns:AddMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <wsdl:input message="tns:AddTeamSoapIn" />
      <wsdl:output message="tns:AddTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMemberAsInactive">
      <wsdl:input message="tns:SetMemberAsInactiveSoapIn" />
      <wsdl:output message="tns:SetMemberAsInactiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberActivity">
      <wsdl:input message="tns:GetMemberActivitySoapIn" />
      <wsdl:output message="tns:GetMemberActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminRights">
      <wsdl:input message="tns:GetAdminRightsSoapIn" />
      <wsdl:output message="tns:GetAdminRightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <wsdl:input message="tns:LoginMemberSoapIn" />
      <wsdl:output message="tns:LoginMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaveAdmin">
      <wsdl:input message="tns:HaveAdminSoapIn" />
      <wsdl:output message="tns:HaveAdminSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseRESTSoap" type="tns:DatabaseRESTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignMemberToTeam">
      <soap:operation soapAction="http://tempuri.org/AssignMemberToTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <soap:operation soapAction="http://tempuri.org/AddTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMemberAsInactive">
      <soap:operation soapAction="http://tempuri.org/SetMemberAsInactive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberActivity">
      <soap:operation soapAction="http://tempuri.org/GetMemberActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminRights">
      <soap:operation soapAction="http://tempuri.org/GetAdminRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <soap:operation soapAction="http://tempuri.org/LoginMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveAdmin">
      <soap:operation soapAction="http://tempuri.org/HaveAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseRESTSoap12" type="tns:DatabaseRESTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignMemberToTeam">
      <soap12:operation soapAction="http://tempuri.org/AssignMemberToTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap12:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <soap12:operation soapAction="http://tempuri.org/AddTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMemberAsInactive">
      <soap12:operation soapAction="http://tempuri.org/SetMemberAsInactive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberActivity">
      <soap12:operation soapAction="http://tempuri.org/GetMemberActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminRights">
      <soap12:operation soapAction="http://tempuri.org/GetAdminRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <soap12:operation soapAction="http://tempuri.org/LoginMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveAdmin">
      <soap12:operation soapAction="http://tempuri.org/HaveAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseREST">
    <wsdl:port name="DatabaseRESTSoap" binding="tns:DatabaseRESTSoap">
      <soap:address location="http://localhost:8584/DatabaseREST.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseRESTSoap12" binding="tns:DatabaseRESTSoap12">
      <soap12:address location="http://localhost:8584/DatabaseREST.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>